<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blackColor</key>
	<dict>
		<key>blue</key>
		<integer>0</integer>
		<key>name</key>
		<string>blackColor</string>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
	</dict>
	<key>whiteColor</key>
	<dict>
		<key>name</key>
		<string>whiteColor</string>
		<key>red</key>
		<integer>15</integer>
		<key>green</key>
		<integer>15</integer>
		<key>blue</key>
		<integer>15</integer>
	</dict>
	<key>blueColor</key>
	<dict>
		<key>name</key>
		<string>blueColor</string>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>15</integer>
	</dict>
	<key>greenColor</key>
	<dict>
		<key>name</key>
		<string>greenColor</string>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>15</integer>
		<key>blue</key>
		<integer>0</integer>
	</dict>
	<key>redColor</key>
	<dict>
		<key>name</key>
		<string>redColor</string>
		<key>red</key>
		<integer>15</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
	</dict>
	<key>brownColor</key>
	<dict>
		<key>name</key>
		<string>brownColor</string>
		<key>red</key>
		<integer>9</integer>
		<key>green</key>
		<integer>6</integer>
		<key>blue</key>
		<integer>3</integer>
	</dict>
	<key>cyanColor</key>
	<dict>
		<key>name</key>
		<string>cyanColor</string>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>15</integer>
		<key>blue</key>
		<integer>15</integer>
	</dict>
	<key>darkGrayColor</key>
	<dict>
		<key>name</key>
		<string>darkGrayColor</string>
		<key>red</key>
		<integer>5</integer>
		<key>green</key>
		<integer>5</integer>
		<key>blue</key>
		<integer>5</integer>
	</dict>
	<key>grayColor</key>
	<dict>
		<key>name</key>
		<string>grayColor</string>
		<key>red</key>
		<integer>7</integer>
		<key>green</key>
		<integer>7</integer>
		<key>blue</key>
		<integer>7</integer>
	</dict>
	<key>lightGrayColor</key>
	<dict>
		<key>name</key>
		<string>lightGrayColor</string>
		<key>red</key>
		<integer>10</integer>
		<key>green</key>
		<integer>10</integer>
		<key>blue</key>
		<integer>10</integer>
	</dict>
	<key>magentaColor</key>
	<dict>
		<key>name</key>
		<string>magentaColor</string>
		<key>red</key>
		<integer>15</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>15</integer>
	</dict>
	<key>orangeColor</key>
	<dict>
		<key>name</key>
		<string>orangeColor</string>
		<key>red</key>
		<integer>15</integer>
		<key>green</key>
		<integer>7</integer>
		<key>blue</key>
		<integer>0</integer>
	</dict>
	<key>purpleColor</key>
	<dict>
		<key>name</key>
		<string>purpleColor</string>
		<key>red</key>
		<integer>7</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>7</integer>
	</dict>
	<key>yellowColor</key>
	<dict>
		<key>name</key>
		<string>yellowColor</string>
		<key>red</key>
		<integer>15</integer>
		<key>green</key>
		<integer>15</integer>
		<key>blue</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
